*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: grey;
    /* margin-left: 100px; */

}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;




     
    }
.logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(106, 103, 103);
    /* margin: left 20px;; */
    /* font-size: 2.3rem; */
    /* margin-top: 10px; */
    /* margin-left: 650px; */

}
.user{
    height: 50px;
    width: 110px;
    border-radius: 7px;
    color: rgb(54, 189, 243);
    background-color: rgb(221, 240, 248);
    border: none;
    font-size: 0.9rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.herosection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}
.leftdiv{
    margin:150px ;
    
}
.leftdiv h1{
    margin-bottom: 5px;
    font-weight: bold;
    /* color: rgba(54,189,243); */
    font-size: 3rem;
    
}
.heading{
    color: #2c3e50;
}
.heading2{
    color: rgb(10, 177, 244);
}
.leftdiv p{
    font-size: 1.2rem;
    color:#9d9c9c;
    


}
.rightdiv{
    margin:150px;
    display: flex;

}
.btn1{
    height: 60px;
    width: 250px;
    border-radius: 20px;
    background-color: rgb(10, 177, 244);
    color: white;
    margin-top: 50px;
    font-weight: bold;
    border: none;
}
.rightdiv img{
    /* padding-right: 10px; */
    background-image: cover;
}